<section class="bg-primary" id="video">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Checkout My Latest YouTube video!</h2>
        <hr class="light">

        <div class="video-con">
          <iframe class="video" width="1280" height="720" src="https://www.youtube.com/embed/videoseries?list=PLlXIhpbfQVgKD0rZI8Fzug-3RNyCaaxOc" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr class="light">
        <a href="https://www.youtube.com/channel/UCGwW4WJtewxjwkASTB1W1dg?sub_confirmation=1" target="_blank" class="btn btn-default btn-xl buttonPadding">Click To Subscribe!</a>
      </div>
    </div>
  </div>
</section>
