<section id="SocialMedia">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Social Media</h2>
        <hr class="primary">
        <p>Please follow and subscribe to me on my social media accounts to stay update with everything I'm working on!</p>
      </div>


      <div class="col-lg-2 col-lg-offset-2 text-center">
        <a href="https://twitter.com/GumpGaming">
          <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>GumpGaming</p>
        </a>
      </div>
      <div class="col-lg-2 col-lg-offset-1 text-center">
        <a href="https://www.youtube.com/channel/UCGwW4WJtewxjwkASTB1W1dg">
          <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>GumpGaming</p>
        </a>
      </div>
      <div class="col-lg-2 col-lg-offset-1 text-center">
        <a href="https://www.facebook.com/GumpGaming-103698718216193">
          <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>GumpGaming</p>
        </a>
      </div>



    </div>
  </div>
</section>
