<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="https://youtu.be/2FicTZPiye8" target="_blank" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                CR-56 Amax
              </div>
              <div class="project-name">
                Monolithic Suppressor, CR-56 EXO, Merc Foregrip, 45 Round Mags, and XRK CR-56 Stippled Wrap
              </div>
              <div class="project-category text-faded">
                Kar98K
              </div>
              <div class="project-name">
                Monolithic Suppressor, Singuard Custom 27.6", Tac Laser, Sniper Scope, and STVOL Precision Comb
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://youtu.be/vE76PjzdUVo" target='_blank' class="portfolio-box">
          <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                AS Val
              </div>
              <div class="project-name">
                VLK 200mm Osa, Tac Laser, VLK Strelok, 30 Round Mags, and Slight of Hand
              </div>
              <div class="project-category text-faded">
                Kar98K
              </div>
              <div class="project-name">
                Monolithic Suppressor, Singuard Custom 27.6", Tac Laser, Sniper Scope, and STVOL Precision Comb
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://youtu.be/Aw7Rb8eh-h8" target="_blank" class="portfolio-box">
          <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Ram7
              </div>
              <div class="project-name">
                Monolithic Suppressor, FSS Ranger, Tac Laser, Commando Foregrip, and 50 Round Mags
              </div>
              <div class="project-category text-faded">
                Kar98K
              </div>
              <div class="project-name">
                Monolithic Suppressor, Singuard Custom 27.6", Tac Laser, Sniper Scope, and STVOL Precision Comb
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://youtu.be/dci5s9cn5Ns" target="_blank" class="portfolio-box">
          <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Mac-10
              </div>
              <div class="project-name">
                Sound Suppressor, 5.9 Task Force, Tiger Team Spotlight, Raider Stock, and STANAG 53 Rnd Drum
              </div>
              <div class="project-category text-faded">
                M4A1
              </div>
              <div class="project-name">
                Monolithic Suppressor, Stock M16 Grenadier, VLK 3.0x Optic, Commando Foregrip, and 60 Round Mags
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://youtu.be/VfyQWShzhIQ" target="_blank" class="portfolio-box">
          <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Gallo SA12
              </div>
              <div class="project-name">
                Agency Choke, 21.4" Reinforced Heavy, SWAT 5mw Laser Sight, Wire Stock, and STANAG 12 Rnd Tube
              </div>
              <div class="project-category text-faded">
                Stoner63
              </div>
              <div class="project-name">
                Agency Suppressor, Task Force, Axial Arms 3x, Field Agent Grip, and 120 Rnd
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://youtu.be/N1IQGVrFBd0 " target="_blank" class="portfolio-box">
          <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Crossbow
              </div>
              <div class="project-name">
                XRX Thunder 200 Lb, Tac Laser, FORGE TAC Apex, FTAC Furry 20" Bolts, and Slight of Hand
              </div>
              <div class="project-category text-faded">
                CR-56 Amax
              </div>
              <div class="project-name">
                Monolithic Suppressor, XRK Zodiac S440, CR-56 EXO, Commando Foregrip, and 45 Round Mags
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>
  </div>
</section>
