<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src=/js/WarzoneDrop.js></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>


<!-- Bootstrap Core JavaScript
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- jQuery
<script src="js/jquery.js"></script>
<script src="js/jquery.min.js"></script>
<!-- Plugin JavaScript
<script src="js/cbpAnimatedHeader.js"></script>
<script src="js/classie.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript
<script src=/js/WarzoneDrop.js></script>
<script src="js/creative.js"></script>
-->
